<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<style>

  .table{

    width: 50%;

  }

</style>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1" class="table table-striped table-hover">
      <tr>
        <th scope="col">name</th>
        <th scope="col">place</th>
        <th scope="col">address</th>
        <th scope="col">phone no </th>
        <th scope="col">date of birth </th>
        <th scope="col">status</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[1]}}-{{i[2]}}</td>
        <td>{{i[7]}}</td>
        <td>{{i[6]}},{{i[7]}},{{i[8]}},{{i[9]}},{{i[10]}},{{i[11]}},{{i[11]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td><p><a href="approve_worker?id={{i[0]}}">accept</a></p>
        <p><a href="reject_worker?id={{i[0]}}">reject</a></p></td>
      </tr>
       {% endfor %}
      </table>
  </div>
</form>
</body>
{% endblock %}
