<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<style>

  .table{

    width: 80%;

  }

</style>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table border="1" class="table table-striped table-hover">
      <tr>
        <th>SL. NO.</th>
        <th>CUSTOMER NAME</th>
        <th>RESCHEDULED DRIVER</th>
        <th>REASON</th>
        <th>CURRENT DRIVER</th>
      </tr>
      {% for i in data %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i['afname'] }} {{ i['alname'] }}</td>
        <td>{{ i['bfname'] }} {{ i['blname'] }}<br>{{ i['bph'] }}</td>
        <td>{{ i['reason'] }}</td>
        <td>{{ i['cfname'] }} {{ i['clname'] }}<br>{{ i['cph'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
</body>
{% endblock %}
