{% extends 'adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th align="center">User Name</th>
      <th>Rating</th>
    </tr>
      {% for i in range(0,ln) %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ resu[i]['first_name'] }} {{ resu[i]['last_name'] }}</td>
      <td >
                <img src="{{ r1[i][0] }}" width="20" height="20">
                <img src="{{ r1[i][1] }}" width="20" height="20">
                <img src="{{ r1[i][2] }}" width="20" height="20">
                <img src="{{ r1[i][3] }}" width="20" height="20">
                <img src="{{ r1[i][4] }}" width="20" height="20">
            </td>


    </tr>
       {% endfor %}
  </table>
</form>
{% endblock %}
