<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'workerindex.html' %}
{% block body %}
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-MANAGE_PRICE8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<style>

  .table{

    width: 50%;

  }

</style>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1" class="table table-striped table-hover">
      <tr><td colspan="2"><b>Item price :{{session['tot']}}</b></td></tr>
      <tr>
        <td>Charge</td>
        <td><input type="text" name="textfield" /></td>
      </tr>
      <tr>
        <td>Work Details</td>
        <td><textarea name="textarea" ></textarea></td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <input type="submit" value="ADD" />
        </td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
